
.logo-img {
  height: 32px;
  margin-right: 8px;
  vertical-align: middle;
}

.language-selector {
  position: relative;
  display: inline-block;      /* necessario per pseudo-elemento */
  padding-bottom: 4px;        /* spazio tra testo e bordo */
  margin: 0;                   /* 🔥 tolto il margin-bottom che rompeva il centraggio */
  transition: all 0.4s ease;
}

/* pseudo-elemento “falso bordo” */
.language-selector::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.35s ease;
}

.language-selector:hover::after {
  transform: scaleX(1);
}

/* Gradienti bandiera */
.language-selector.lang-it::after { background: linear-gradient(135deg, #008C45, #F4F5F0, #CD212A); }
.language-selector.lang-en::after { background: linear-gradient(135deg, #C8102E, #F4F5F0, #C8102E); }
.language-selector.lang-es::after { background: linear-gradient(135deg, #C8102E, #efd112, #C8102E); }
.language-selector.lang-de::after { background: linear-gradient(135deg, #efd112, #C8102E, #000000); }
.language-selector.lang-fr::after { background: linear-gradient(135deg, #1910c8, #F4F5F0, #C8102E); }

/* stile select */
.language-selector select {
  color:#ffffff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: transparent;
  border: none;
  outline: none;

  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 6px;

  transition: transform 0.15s ease;
}

/* hover / click / focus */
.language-selector select:hover { transform: scale(1.05); }
.language-selector select:active { transform: scale(0.95); }
.language-selector select:focus { transform: scale(1.02); }

@keyframes slow-rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.logo-img {
  height: 32px;
  width: auto;
  display: block;

  animation: slow-rotate 10s linear infinite;
}
.layout-footer {
  height: 100%;          /* ← QUESTO È IL SEGRETO */
  display: flex;
  align-items: center;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.81);
  -webkit-backdrop-filter: blur(6px);
  color: rgb(100, 100, 100);
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .sx {
  text-align: left;
  padding-left: 5%;
}

.row .center {
  text-align: center;
}

.row .dx {
  text-align: right;
  padding-right: 5%;
}

.row .layout-logo {
  display: flex;
  align-items: center;   /* allinea verticalmente logo e testo */
  gap: 0.75rem;          /* spazio tra logo e scritta */

  font-style: italic;
  letter-spacing: 0.10em;
}